
*{
	margin: 0px;
	padding: 0px;
}
.slide {
	width: 960px;
	margin : 0 auto;
}
.slide .main-slide{
	width: 350px;
}
.list-slide{
	height: 350px;
	margin-bottom: 20px;
}
.main-slide img{
    width: 252px;
}
li img{
	width: 73px;
	margin-right: 13px; 
	float: left;
	border: 1px solid black;
}
li.active img{ border: 2px solid #F00;}
li{
	list-style: none;
}
.main-slide img{
	border: 1px solid black;
}